header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 25, 25);
}

h1{
    color:black;
}

a{
    list-style: none;
    text-decoration: none;
    padding: 50px;
    color: yellow;
    font-size: 22px;
}

img{
    width: 10%;
}